{% extends 'biblio/base/base.html.twig' %}

{% block title %}Hello
{% endblock %}


{% block body %}
	<div class="content container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="file-wrap file-sidebar-toggle">
					<div class="file-sidebar">
						<div class="file-header justify-content-center">
							<span>Filtre</span>
							<a href="javascript:void(0);" class="file-side-close">
								<i class="fa fa-times"></i>
							</a>
						</div>
						<div class="file-pro-list">
							<div class="file-scroll">
								<ul class="file-menu">
									<li class="active">
										<a href="#">All Projects</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="file-cont-wrap  {% if documents|length < 8 %}container{% endif %}">
						<div class="file-cont-inner">
							<div class="file-cont-header">
								<div class="file-options">
									<a href="javascript:void(0)" id="file_sidebar_toggle" class="file-sidebar-toggle">
										<i class="fa fa-bars"></i>
									</a>
								</div>
								<span>Espace Bibliotheque</span>
								<div class="file-options">
									<span class="btn-file"><input type="file" class="upload"><i class="fa fa-upload"></i>
									</span>
								</div>
							</div>
							<div class="file-content">
								{{form_start(form)}}
								<div class="input-group">
									<div class="input-group-prepend">
										<i class="fa fa-search"></i>
									</div>
									{{form_widget(form.search)}}
									<button type="submit" class="btn add-btn">Rechercher</button>
								</div>
								{{form_end(form)}}
								<div class="file-body">
									<div class="file-content-inner">
										<h4>Documents récents</h4>
										<div class="row row-sm">
											{% for document in LastDocuments %}
												<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3">
													<div class="card card-file">
														<div class="dropdown-file">
															<a href="" class="download"></a>
														</div>
														<div class="card-file-thumb">
															<i class="fa fa-file-pdf-o"></i>
														</div>
														<div class="card-body">
															<h6>
																{{document.name}}
															</h6>
															<span>{{document.convertedSize}}Mo</span>
														</div>
														<div class="card-footer">Le
															{{document.createdAt|date('d-m-Y')}}
															par
															{{document.user}}
														</div>
													</div>
												</div>
											{% endfor %}
										</div>

										<h4>TOUT LES DOCUMENTS</h4>
										<div class="row row-sm">
											{% for document in documents %}
												<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3">
													<div class="card card-file">
														<div class="dropdown-file">
															<a href="" class="download"></a>
														</div>
														<div class="card-file-thumb">
															<i class="fa fa-file-pdf-o"></i>
														</div>
														<div class="card-body">
															<h6>
																{{document.name}}
															</h6>
															<span>{{document.convertedSize}}Mo</span>
														</div>
														<div class="card-footer">Le
															{{document.createdAt|date('d-m-Y')}}
															par
															{{document.user}}
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
										<div class="d-flex justify-content-center">
											{{knp_pagination_render(documents, 'biblio/base/_pagination.html.twig' )}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
