{% extends 'biblio/base/base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<!-- Page Content -->
	<div
		class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Liste des documents</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path('biblio_home')}}">Documents</a>
						</li>
						<li class="breadcrumb-item active">Liste des documents</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Content Starts -->
		<div class="row">
			{% for document in documents %}
				<div class="col-12 col-md-6 col-lg-4 d-flex">
					<div class="card flex-fill">
						<img alt="" src="{{'/img/img-pdf.png'|imagine_filter('my_thumb')}}" class="card-img-top">

						<div class="card-header">
							<h5 class="card-title mb-0">{{document.name}}
							</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Ajoutée le :
								{{document.createdAt|date('d-m-Y')}}
								par
								{{document.user}}</li>
							<li class="list-group-item">
								{% if app.user %}
									<a href="{{vich_uploader_asset(document, 'docFile')}}" download>Telecharger</a>
									<small class="float-end">({{document.convertedSize}} Mo)</small>

								{% else %}
									vous souhaitez Telecharger?
									<a href="{{path('login')}}">Connectez-vous</a>
								{% endif %}

							</li>

						</ul>
					</div>
				</div>
			{% endfor %}
		</div>

		
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(documents, 'biblio/base/pagination.html.twig') }}
    </div>
		<!-- /Content End -->
	</div>
	<!-- /Page Content -->

{% endblock %}
